<!doctype html>
<html>

<head>
  <title>Freecodecamp Timestamp Microservice API Project</title>
  <link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1>Freecodecamp<br/> Timestamp Microservice API Project</h1>

  <div>
    <p>The API accepts either a "regular" date in the format Month Day, Year or a unix formatted date.</p>
    <p>It returns a JSON response with the date in both formats.</p>
    <p>If the input is not valid, it will return <code>null</code> values.
    </p>
  </div>

  <h2>How to use the Timestamp API</h2>
  <p>The API is hosted at https://freecodecamp-api-projects-christophherr.c9users.io</p>
  <p>If you are reading this in your browser, you are already at that URL ;)</p>
  <p>Simply add a natural or unix date at the end of the URL to see the API in action:</p>
  <pre>https://freecodecamp-api-projects-christophherr.c9users.io/October 23, 2016</pre>
  <pre>https://freecodecamp-api-projects-christophherr.c9users.io/78754567654</pre>

  <h2>How a response looks like</h2>
  <pre>{natural: "January 10, 2015", unix: "1420848000"}</pre>
</body>

</html>
